
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid mx-2 border-bottom border-2">
    <img src="assets/images/logo.png" alt="">
    <h3 class=" ms-2 icon-name">
      Nor-Shipping 2019
    </h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="w-100 d-lg-flex  flex-lg-row  justify-content-end align-items-center py-1">
        <div class="border-danger border-start d-flex flex-column align-items-start  ps-2 pe-3">
          <p class="text-uppercase fw-light text-secondary">Deals</p>
          <span class="fw-bold">8</span>
        </div>

        <div class="bg-purple border-start d-flex flex-column align-items-start ps-2 pe-3">
          <p class="text-uppercase  fw-light text-secondary">Total value [nok]</p>
          <span class="fw-bold">4.19 min</span>
        </div>


        <div class="border-info border-start d-flex flex-column align-items-start ps-2 pe-3">
          <p class="text-uppercase  fw-light text-secondary">hitrate</p>
          <span class="fw-bold">10%</span>
        </div>

        <div class="border-success border-start d-flex flex-column align-items-start ps-2 pe-3">
          <p class="text-uppercase  fw-light text-secondary">deals wdn</p>
          <span class="fw-bold">12/65</span>
        </div>

        <div class="border-orange border-start d-flex flex-column align-items-start  ps-2 pe-3 me-5">
          <p class="text-uppercase  fw-light text-secondary"> new clients</p>
          <span class="fw-bold">8/12</span>
        </div>

        <div class="px-3 py-2 dropTest">
          <div class="nav-item dropdown d-flex flex-column  ">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class=" rounded-circle" src="assets/images/bella.jpg" alt="">
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item hItem"   routerLink="#">Settings</a></li>
              <li><a class="dropdown-item hItem"   routerLink="#">My Team</a></li>
              <li><a class="dropdown-item hItem"   routerLink="#" >Log out</a></li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
</nav>
