<div class="container">
  <div class="d-flex">
      <div class="py-2 me-4">
        <a class="text-decoration-none text-gray pb-2" routerLink="exhibitors" routerLinkActive="itemActive"><i class="fa-regular fa-calendar-days me-2"></i>Exhibitors</a>
      </div>

      <div class="py-2 mx-4">
        <a class="text-decoration-none text-gray pb-2" routerLink="sales" routerLinkActive="itemActive"><i class="fa-solid fa-basket-shopping me-2"></i>Sales</a>
      </div>

      <div class="py-2 mx-4">
        <a class="text-decoration-none text-gray pb-2" routerLink="program" routerLinkActive="itemActive"><i class="fa-regular fa-calendar me-2"></i>Program</a>
      </div>

      <div class="py-2 mx-4">
        <a class="text-decoration-none text-gray pb-2" routerLink="delegates" routerLinkActive="itemActive"><i class="fa-regular fa-user me-2"></i>Delegates</a>
      </div>

      <div class="py-2 mx-4">
        <a class="text-decoration-none text-gray pb-2" routerLink="setting" routerLinkActive="itemActive"><i class="fa-solid fa-gear me-2"></i>Setting</a>
      </div>
  </div>
</div>
