
<div class="bg-gray">
  <div class="container">
    <div class="d-flex">
      <div class="py-2">
        <a class="text-decoration-none text-gray px-3" routerLink="deals" routerLinkActive="salesActive">Deals</a>
      </div>

      <div class="py-2 mx-2">
        <a class="text-decoration-none text-gray px-3" routerLink="activites" routerLinkActive="salesActive">Activites</a>
      </div>

      <div class="py-2 mx-2">
        <a class="text-decoration-none text-gray px-3" routerLink="statistics" routerLinkActive="salesActive">Statistics</a>
      </div>

   </div>
  </div>
</div>
