.bg-gray{
  background-color: rgba(217, 234, 241, 0.384);
}

.salesActive{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: black !important;
}

.text-gray
{
  color: #8f8989b6;
}
